<div class="grid-container">
  <mat-grid-list [cols]="GRID_COLS_NUMBER" rowHeight="1:1" gutterSize="15px">
    <mat-grid-tile *ngFor="let card of cards; let i = index;"
                   [colspan]="card.cols" [rowspan]="card.rows">
      <cdk-drop-list [cdkDropListConnectedTo]="drops" [cdkDropListData]="i" >
        <mat-card cdkDrag (cdkDragEntered)="entered($event)" [cdkDragData]="i"
                  class="dashboard-card"  [style.backgroundColor]="card.color">
          <mat-card-content class="dashboard-card-content">
            <h4>{{card.title}}</h4>
          </mat-card-content>
        </mat-card>
      </cdk-drop-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
