.grid-container {
  margin: 10px;

  .dashboard-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .more-button {
    float: right;
    font-size: 2em;
  }

  .dashboard-card-content {
    text-align: center;
  }

  .cdk-drop-list {
    height: 100%;
    width: 100%;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    opacity: 0.5;
  }

  .cdk-drag-animating {
    transition: unset;
  }

  .cdk-drag-placeholder {
    display: none;
  }
}
